<%- include('../layout', { title: 'Bejelentkezés' }) %>

<div class="auth-container">
    <h2>Bejelentkezés</h2>

    <form action="<%= basePath %>/auth/login" method="POST">
        <label>Email</label>
        <input type="email" name="email" required>

        <label>Jelszó</label>
        <input type="password" name="password" required>

        <button type="submit">Bejelentkezés</button>
    </form>
</div>
