<%- include('layout', {
  title: 'Főoldal',
  body: `
    <header>
      <div class="inner">
        <h2>Üdvözlünk!</h2>
        <p>Ezt az oldalt a Webprogramozás II. beadandóhoz készítettük.</p>
      </div>
    </header>

    <section>
      <h3>Mit találsz itt?</h3>
      <p>
        - Adatbázis oldalak (F1 pilóták, pályák, versenyek)<br>
        - Kapcsolat űrlap üzenetküldéssel<br>
        - Hitelesítés (login, regisztráció)<br>
        - CRUD rendszer<br>
        - Admin üzenetkezelés<br>
        - Reszponzív dizájn (HTML5UP Solid State)
      </p>
    </section>
  `
}) %>
