<%- include('../layout', {
  title: 'Pilóták',
  body: `
    <h2>Pilóták listája</h2>

    <table class="alt">
      <tr>
        <th>Név</th>
        <th>Születési idő</th>
        <th>Futamgyőzelmek</th>
        <th>Pontszám</th>
        <th>Pole pozíciók</th>
      </tr>

      ${pilotak.map(p => `
        <tr>
          <td>${p.nev}</td>
          <td>${p.szuletesi_ido.toISOString().split('T')[0]}</td>
          <td>${p.futamgyozelmek}</td>
          <td>${p.pontszam}</td>
          <td>${p.pole_poziciok}</td>
        </tr>
      `).join('')}
    </table>
  `
}) %>
