<%- include('../layout', {
  title: 'Új pilóta',
  body: `
    <h2>Új pilóta felvétele</h2>

    <form action="/crud/pilotak/uj" method="POST">

        <label>Név</label>
        <input type="text" name="nev" required>

        <label>Születési idő</label>
        <input type="date" name="szuletesi_ido" required>

        <label>Futamgyőzelmek</label>
        <input type="number" name="futamgyozelmek" required>

        <label>Pontszám</label>
        <input type="number" name="pontszam" required>

        <label>Pole pozíciók</label>
        <input type="number" name="pole_poziciok" required>

        <button type="submit">Mentés</button>
    </form>
  `
}) %>
